.img2 {
  margin-top: 5px;
  width: 30%;
  margin-left: 1%;
  position: ;
  float: left;
  margin-right: 2%;
}
.body {
  background: rgb(218, 217, 216);
}
#headers {
  text-shadow: 2px 2px red;
}

.p1 {
  box-shadow: 15px 15px 15px rgba(14, 27, 212, 0.342);
  color: white;
  text-shadow: 1px 1px 2px #000000;
  float: left;
  border: 1px black;
  margin-top: 30px;
  /* margin-bottom: 100%; */
  height: 80%;
  margin-right: 180px;
  margin-left: 180px;
  background-color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-right: 100px;
  margin-left: 100px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 19px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(12, 141, 91);
}
p.solid {
  border-style: solid;
  margin-right: 70%;
  margin-left: 80px;
  margin-top: 0%;

  text-align: center;
  background-color: aquamarine;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
