* {
  /* margin: 0% 10% 0% 10%; */
}
ul {
  list-style-type: none;
  margin: 0;
  padding-right: 25%;
  overflow: hidden;
  background-color: #333;
}
.table {
  border-style: ;
  width: 50%;
  height: 600px;
  margin-left: 24%;
}

.a {
  
  margin-top: 10px;
  height: 20%;
  width: 233px;
  border-style: ;
  float: left;
}
.im {
  width: 21.5%;

  position: absolute;
}
.im3 {
  width: 20%;
  position: absolute;
  position: flex: 
}
.im4 {
  width: 21.5%;
  position: absolute;
  height: 16%;
  position: flex: 

}
.im6 {
  width: 22%;
  height: 20%;
  position: absolute;
  position: flex: 
}
.im5 {
  width: 20%;
  position: absolute;
}

.h33 {
  margin-left: 35%;
  margin-top: 31%;
  position: relative;
  color: white;
  
    display: flex;

}
.h34 {
  margin-left: 35%;
  margin-top: 40%;
  position: relative;
  color: white;
  
    display: flex;

}

.b {
  margin-top: 10px;
  height: 20%;
  width: 233px;
  border-style: ;
  float: left;
}
#headers {
  color: white;
  text-shadow: 10px 8px 2px black, 0 0 25px rgb(6, 2, 252), 0 0 5px darkblue;
}
.c {
  margin-top: 10px;
  height: 20%;
  width: 233px;
  border-style: ;
  float: left;
}
.d {
  margin-top: 10px;
  height: 20%;
  width: 233px;
  border-style: ;
  float: left;
}
.e {
  margin-top: 10px;
  height: 20%;
  width: 233px;
  border-style: ;
  float: left;
}
.g {
  margin-left: 0%;
  color: rgb(9, 155, 155);
}
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
